
:8080 {
  handle /api/* {
    reverse_proxy localhost:4000
  }

  handle {
    root * /usr/share/caddy
    # requests with Accept-Encoding get automatically gzipped
    encode gzip

    # try to serve the file it it doesn't exist then serve index.html
    try_files {path} /index.html
    file_server
    }
}
